.button {
  outline: none;
  background-color: white;
  border: 1px solid lightgray;
  width: 100%;
  height: fit-content;
  padding: 4px 8px;
  box-sizing: border-box;
  border-radius: 6px;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
    background-color: var(--blue-light);
  }

  &-no-border {
    @extend .button;
    padding: 4px;
    border: none;
    border-radius: 99px;
  }
}
